# Reading data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn
#from sklearn.model_selection import GridSearchCV
#from sklearn import ensemble
from sklearn.metrics import accuracy_score
import dabl
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
data = pd.read_csv("airline_passenger_satisfaction.csv")

In [3]:
data.shape

(129880, 24)

In [4]:
data.head(20)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied
5,6,Male,43,Returning,Business,Business,3788,0,0.0,4,...,4,4,4,3,3,4,4,4,4,Satisfied
6,7,Male,43,Returning,Business,Business,1963,0,0.0,3,...,5,5,5,4,5,5,3,5,5,Satisfied
7,8,Female,60,Returning,Business,Business,853,0,3.0,3,...,3,4,4,4,4,3,4,3,3,Satisfied
8,9,Male,50,Returning,Business,Business,2607,0,0.0,1,...,4,3,4,3,3,4,4,4,4,Neutral or Dissatisfied
9,10,Female,38,Returning,Business,Business,2822,13,0.0,2,...,5,4,5,4,2,5,2,5,5,Satisfied
10,11,Female,28,First-time,Business,Business,821,0,5.0,1,...,2,2,5,2,2,4,1,2,3,Neutral or Dissatisfied
11,12,Female,27,First-time,Business,Business,421,20,21.0,2,...,2,2,5,1,1,3,1,1,4,Neutral or Dissatisfied
12,13,Male,24,First-time,Business,Economy,453,16,30.0,2,...,2,5,4,5,5,4,2,5,4,Neutral or Dissatisfied
13,14,Male,9,Returning,Personal,Business,853,68,76.0,5,...,4,5,3,5,5,5,1,5,4,Neutral or Dissatisfied
14,15,Male,52,Returning,Personal,Economy,853,0,0.0,4,...,3,2,3,2,2,5,2,2,5,Neutral or Dissatisfied
15,16,Male,70,Returning,Personal,Economy,821,0,0.0,5,...,4,5,2,5,5,5,2,5,4,Neutral or Dissatisfied
16,17,Female,48,Returning,Personal,Economy,821,0,0.0,3,...,5,1,2,2,1,5,2,5,5,Neutral or Dissatisfied
17,18,Female,61,Returning,Personal,Economy,821,0,0.0,5,...,5,5,2,1,4,5,2,5,5,Neutral or Dissatisfied
18,19,Female,11,Returning,Personal,Economy,853,0,0.0,5,...,3,5,2,5,5,5,3,5,4,Neutral or Dissatisfied
19,20,Female,42,Returning,Personal,Economy,821,4,0.0,3,...,1,4,3,3,1,1,3,1,1,Neutral or Dissatisfied

In [5]:
data.tail(10)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
129870,129871,Female,23,First-time,Business,Business,337,46,58.0,2,...,2,5,1,5,5,4,2,5,4,Neutral or Dissatisfied
129871,129872,Female,32,Returning,Business,Economy Plus,337,0,1.0,2,...,5,4,1,4,4,1,4,4,3,Satisfied
129872,129873,Female,44,Returning,Personal,Economy Plus,308,0,22.0,4,...,3,4,3,5,5,3,3,3,3,Neutral or Dissatisfied
129873,129874,Female,28,Returning,Personal,Economy Plus,337,0,0.0,2,...,1,3,5,3,3,4,4,3,3,Neutral or Dissatisfied
129874,129875,Female,55,Returning,Personal,Economy Plus,308,0,0.0,4,...,4,3,3,4,2,4,3,4,4,Neutral or Dissatisfied
129875,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
129876,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
129877,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
129878,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,4,5,3,3,4,5,3,5,Satisfied
129879,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129487 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

You may notice the following:
<ol>
     <li><b>The column</b> corresponding to the <b>Arrival Delay feature has 393 missing values</b>.</li>
     <li><b>The first features is useless and will not affect the classification</b>, so we should get rid of it.</li>
     <li><b>Many columns are of type 'object'. Let's replace this type with a special one designed for storing categorical values.</li>
</ol>

In [7]:
data = data.drop(data.iloc[:,[0, 3, 4]], axis = 1)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 21 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Gender                                  129880 non-null  object
 1   Age                                     129880 non-null  int64
 2   Class                                   129880 non-null  object
 3   Flight Distance                         129880 non-null  int64
 4   Departure Delay                         129880 non-null  int64
 5   Arrival Delay                           129487 non-null  float64
 6   Departure and Arrival Time Convenience  129880 non-null  int64
 7   Ease of Online Booking                  129880 non-null  int64
 8   Check-in Service                        129880 non-null  int64
 9   Online Boarding                         129880 non-null  int64
 10  Gate Location                           129880 non-null  int64
 11  On-board Service                        129880 non-null  int64
 12  Seat Comfort                            129880 non-null  int64
 13  Leg Room Service                        129880 non-null  int64
 14  Cleanliness                             129880 non-null  int64
 15  Food and Drink                          129880 non-null  int64
 16  In-flight Service                       129880 non-null  int64
 17  In-flight Wifi Service                  129880 non-null  int64
 18  In-flight Entertainment                 129880 non-null  int64
 19  Baggage Handling                        129880 non-null  int64
 20  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(17), object(3)
memory usage: 20.8+ MB

In [9]:
data.describe()

,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling
count,129880.000000,129880.000000,129880.000000,129487.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,39.427957,1190.316392,14.713713,15.091129,3.057599,2.756876,3.306267,3.252633,2.976925,3.383023,3.441361,3.350878,3.286326,3.204774,3.642193,2.728696,3.358077,3.632114
std,15.119360,997.452477,38.071126,38.465650,1.526741,1.401740,1.266185,1.350719,1.278520,1.287099,1.319289,1.316252,1.313682,1.329933,1.176669,1.329340,1.334049,1.180025
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,27.000000,414.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,3.000000
50%,40.000000,844.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,51.000000,1744.000000,12.000000,13.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,5.000000
max,85.000000,4983.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

# Filling in missing values

In [10]:
data.isnull().sum()

Gender                                      0
Age                                         0
Class                                       0
Flight Distance                             0
Departure Delay                             0
Arrival Delay                             393
Departure and Arrival Time Convenience      0
Ease of Online Booking                      0
Check-in Service                            0
Online Boarding                             0
Gate Location                               0
On-board Service                            0
Seat Comfort                                0
Leg Room Service                            0
Cleanliness                                 0
Food and Drink                              0
In-flight Service                           0
In-flight Wifi Service                      0
In-flight Entertainment                     0
Baggage Handling                            0
Satisfaction                                0
dtype: int64

In [11]:
data['Arrival Delay'].fillna(data['Arrival Delay'].median(axis = 0), inplace = True)

In [12]:
data.isnull().sum()

Gender                                    0
Age                                       0
Class                                     0
Flight Distance                           0
Departure Delay                           0
Arrival Delay                             0
Departure and Arrival Time Convenience    0
Ease of Online Booking                    0
Check-in Service                          0
Online Boarding                           0
Gate Location                             0
On-board Service                          0
Seat Comfort                              0
Leg Room Service                          0
Cleanliness                               0
Food and Drink                            0
In-flight Service                         0
In-flight Wifi Service                    0
In-flight Entertainment                   0
Baggage Handling                          0
Satisfaction                              0
dtype: int64

In [13]:
data.describe()

,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,39.427957,1190.316392,14.713713,15.045465,3.057599,2.756876,3.306267,3.252633,2.976925,3.383023,3.441361,3.350878,3.286326,3.204774,3.642193,2.728696,3.358077,3.632114
std,15.119360,997.452477,38.071126,38.416353,1.526741,1.401740,1.266185,1.350719,1.278520,1.287099,1.319289,1.316252,1.313682,1.329933,1.176669,1.329340,1.334049,1.180025
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,27.000000,414.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,3.000000
50%,40.000000,844.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,51.000000,1744.000000,12.000000,13.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,5.000000
max,85.000000,4983.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

# Handling categorical features

In [14]:
data.Satisfaction.value_counts()

Neutral or Dissatisfied    73452
Satisfied                  56428
Name: Satisfaction, dtype: int64

In [15]:
def find(x):
    if x == 'Satisfied':
        return 0 
    else:
        return 1 
data['Satisfaction'] = data.Satisfaction.apply(lambda x: find(x))
data.Satisfaction.value_counts()

1    73452
0    56428
Name: Satisfaction, dtype: int64

In [16]:
sns.set_theme()

In [17]:
data.select_dtypes(include = ['object'])

        Gender         Class
0         Male      Business
1       Female      Business
2         Male      Business
3         Male      Business
4       Female      Business
...        ...           ...
129875    Male  Economy Plus
129876    Male  Economy Plus
129877    Male  Economy Plus
129878    Male  Economy Plus
129879  Female  Economy Plus

[129880 rows x 2 columns]

In [18]:
data.Class.value_counts()

Business        62160
Economy         58309
Economy Plus     9411
Name: Class, dtype: int64

In [19]:
def finder(x):
    if x == 'Business':
        return 1 
    elif x == 'Economy':
        return 2 
    else:
        return 3     
data['Class'] = data.Class.apply(lambda x: finder(x))
data.Class.value_counts()

1    62160
2    58309
3     9411
Name: Class, dtype: int64

In [20]:
def finder(x):
    if x == 'Male':
        return 1 
    elif x == 'Female':
        return 2 
    else:
        return 0 
data['Gender'] = data.Gender.apply(lambda x: finder(x))
data.Gender.value_counts()

2    65899
1    63981
Name: Gender, dtype: int64

In [21]:
data.to_csv('clean.csv')